In [3]:
import sqlite3

# Create a SQLite database
conn = sqlite3.connect("sales_data.db")
cursor = conn.cursor()

# Create tables (sales and products) and insert sample data
cursor.execute('''
    CREATE TABLE IF NOT EXISTS sales (
        transaction_id INTEGER PRIMARY KEY AUTOINCREMENT,
        product_id INTEGER,
        sale_date DATE,
        quantity INTEGER,
        revenue REAL
    )
''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS products (
        product_id INTEGER PRIMARY KEY,
        product_name TEXT
    )
''')

# Insert some sample data
cursor.executemany('''
    INSERT INTO products (product_id, product_name) VALUES (?, ?)
''', [(1, 'Product A'), (2, 'Product B')])

cursor.executemany('''
    INSERT INTO sales (product_id, sale_date, quantity, revenue) VALUES (?, ?, ?, ?)
''', [(1, '2023-01-01', 10, 100.0), (2, '2023-01-01', 5, 50.0)])


cursor.executemany('''
    INSERT INTO sales (product_id, sale_date, quantity, revenue) VALUES (?, ?, ?, ?)
''', [(1, '2003-09-21', 50, 10.0), (3, '2003-09-21', 5, 50.0)])

conn.commit()
conn.close()

IntegrityError: UNIQUE constraint failed: products.product_id

In [2]:
import pandas as pd

# Load data into a DataFrame
conn = sqlite3.connect("sales_data.db")
query = '''
    SELECT p.product_name, strftime('%Y-%m', s.sale_date) as month,
        SUM(s.quantity) as total_quantity, SUM(s.revenue) as total_revenue
    FROM sales s
    JOIN products p ON s.product_id = p.product_id
    GROUP BY p.product_name, month
    ORDER BY p.product_name, month
'''
df = pd.read_sql_query(query, conn)
conn.close()

# Pivot the data for analysis
pivot_table = pd.pivot_table(df, values=['total_quantity', 'total_revenue'], 
                              index='product_name', columns='month')

# Display the result
print(pivot_table)

             total_quantity         total_revenue
month               2003-09 2023-01       2003-09 2023-01
product_name
Product A              50.0    10.0          10.0   100.0
Product B               NaN     5.0           NaN    50.0